html, body {
  min-height: 100%;
  background-color: #000;
  color: #FFF;
}

// Basic structure

#container {
  position: relative;
  height: 100%;
}

#main {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 50px;
  min-height: 100%;
}

#left {
  position: relative;
  min-height: 100%;
  flex: 1;
  border-right: 1px solid #000;
  .actions {
    padding: 15px;
    min-height: 62px;
  }
}

#right {
  position: relative;
  min-height: 100%;
  flex: 1;
  min-width: 539px;
}

.entry-list {
  border-top: 2px solid #000;
  padding: 0;
  margin: 0;
  li.entry {
    padding: 15px;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #000;
    overflow: visible;
    cursor: pointer;
    .title {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 8px;
      .author {
        white-space: nowrap;
        font-size: 12px;
        margin-left: 2px;
        a {
          color: #FFF;
        }
      }
    }
    .description {
      line-height: 1.4em;
      margin-bottom: 8px;
    }
    .unread-indicator {
      display: none;
      position: absolute;
      width: 15px;
      top: 0px;
      left: 0px;
      height: 100%;
      overflow: hidden;
      span {
        display: block;
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: #000;
      }
    }
    .active-indicator {
      display: none;
      position: absolute;
      width: 20px;
      top: 0px;
      right: -20px;
      height: 100%;
      overflow: hidden;
      span {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        left: -13px;
        margin-top: -10px;
        border: 1px solid #000;
        transform: rotate(45deg);
      }
    }
    &.active .active-indicator, &.unread .unread-indicator {
      display: block;
    }
    &.entry-small {
      .title {
        margin-bottom: 0px;
      }
      .statistics {
        margin-top: 3px;
      }
    }
  }
}

// .entry-list

.entry {
  padding: 25px;
  border-bottom: 2px solid #000;
  h1 {
    font-size: 28px;
    margin: 0px 0px .5em;
    color: #FFF;
    span.author {
      margin-top: 1em;
      display: block;
      white-space: nowrap;
      font-size: 14px;
    }
  }
  p {
    font-size: 15px;
    line-height: 1.6em;
  }
}

// .entry

.replies {
  padding: 25px;
  .reply {
    div.author {
      display: block;
      margin-bottom: 1em;
      font-size: 14px;
    }
  }
  p {
    font-size: 15px;
    line-height: 1.6em;
  }
}

// .replies

.statistics {
  float: right;
  font-size: 12px;
  padding-left: 2px;
  div {
    display: inline-block;
    margin-right: 15px;
    span {
      margin-right: 5px;
      top: 2px;
    }
  }
}

// .statistics

.actions {
  h4 {
    margin: 0;
    line-height: 34px;
  }
  min-height: 28px;
}

// Theme
// ==============

$darkest: #1e1e1e;
$darker: #262626;
$dark: #2d2d2d;
$dimmer: #323232;
$dim: #393939;
$light: #454545;
$lighter: #515151;
$bright: #7e7e7c;
$brighter: #d3d0c8;
$brightest: white;

$red: #f2777a;
$yellow: #ffcc66;
$yellow2: #fff62f;
$purple: #cc99cc;
$blue: #6699cc;
$green: #99cc99;
$red: #f2777a;
$red2: #ff6b64;
$lime: #03dba7;
$orange: #ff855c;
$cyan: #18e9cd;

body {
  background-color: $dim;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn {
  border: 0;
  &.btn-primary {
    color: $lime;
    background-color: $darkest;
    &:hover {
      color: $darkest;
      background-color: $lime;
    }
  }
}

.navbar-default {
  border: none;
  background-color: $darkest;
  .navbar-brand {
    color: $lime;
  }
  .navbar-nav {
    & > li a {
      color: $bright;
      &:hover {
        color: $brighter;
      }
    }
    & > .active a {
      color: $brighter;
      background-color: $darker;
      &:hover {
        color: $brightest;
        background-color: $darker;
      }
    }
  }
  .label {
    font-size: 100%;
    padding: .2em .6em .3em;
    background-color: $red2;
  }
}

#left {
  background-color: $darker;
  border-right: 2px solid $light;
}

#right {}

.entry-list {
  border-color: $light;
  background-color: $dark;
  li.entry {
    color: $bright;
    border-color: $light;
    &:nth-child(even), &:nth-child(even) .active-indicator span {
      background-color: $dimmer;
    }
    &:hover, &:hover .active-indicator span {
      background-color: $darker;
    }
    .title {
      color: $brighter;
      .author {
        color: $lighter;
        a {
          color: $lighter;
        }
      }
    }
    .statistics {
      color: $lighter;
      span {
        color: $bright;
      }
    }
    .unread-indicator span {
      background-color: $lime;
    }
    .active-indicator span {
      border: 2px solid $light;
      background-color: $dark;
    }
  }
}

.entry, .reply {
  border-color: $light;
  h1 {
    color: $brightest;
  }
  .author {
    color: $brightest;
    a {
      color: $lime;
    }
  }
  p {
    color: $brighter;
  }
  .statistics {
    color: $bright;
    span {
      color: $brighter;
    }
  }
}

.replies {
  border-color: $light;
  p {
    color: $brighter;
  }
}